@font-face {
    font-family:'test';
    src: url('leaguespartan-bold.ttf') format('truetype'),
         url('LeagueSpartan-Bold.otf') format('otf');

         
}

@font-face {
    font-family:'hz';
    src: url('LUNCN___.TTF') format('truetype'),
    url('LeagueSpartan-Bold.otf') format('otf');
}


html{
    overflow-x:hidden;
    

}

.grille {
    display: grid;
    grid-template-columns: 1.4fr repeat(5, 1fr);
    grid-template-rows: repeat(5, -1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
 
.gauche {
     grid-area: 1 / 1 / 6 / 2;
     border-right: 2px solid rgb(44, 44, 44);
     height: 100%;
     width: 400px ;
     box-shadow: 9px 5px 10px 1px rgb(36, 36, 36);
    margin: 0;
    padding: 0;  
    position: fixed;
    background-color: rgb(29, 29, 29);
    z-index: 1;
    }


.mid { grid-area: 1 / 2 / 2 / 7; 
    width: auto;
    height: auto;
    
}




body{
    background-color: #313131;
    margin: auto;
    padding: auto;
    height: 1000px;
    
}
        


.gauche a {
    font-family:'test';
    text-align: center;
    font-size: 24px;
    color: #00ff95;
    text-decoration:none;
    border: solid 3px rgba(235, 235, 235, 0);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 30px;
    width: 200px;
    display: block;
    display: flex;
    padding: 5px;
    justify-content: start;
    
    

}






ul{
    text-align: left;
    list-style:none;
    margin: 0;
    padding: 0;
    
}





.jshome{
    position: relative;
    left: 160px;
    top: -718px;

}



.jsgame{
    position: relative;
    left: 105px;
    top: -410px;
}


.jsgame2{
    position: relative;
    left: 173px;
    top: -565px;
}


.jsint{
    position: relative;
    left: 21px;
    top: -254px;
}

.jscall{
    position: relative;
    left: 12px;
    top: -100px;
}









#accueil:hover{
    border-color: aliceblue;
    transition-duration: 1s;
    width:128px
}


#rl:hover{
    border-color: aliceblue;
    transition-duration: 0.7s;
    width:226px
}


#dofus:hover{
    border-color: aliceblue;
    transition-duration: 1s;
    width:115px
}


#faq:hover{
    border-color: aliceblue;
    transition-duration: 1s;
    width:115px
}

#contact:hover{
    border-color: aliceblue;
    transition-duration: 1s;
    width:138px
}

.menu:hover{
    border-color: aliceblue;
    transition-duration: 1s;
}


li{
    padding: 54px;
}
























.hoza{
    
    text-align: center;
    color: aliceblue;
    font-family:'hz';
    font-size: 150px;
    position: relative;
    height: -10560px;
    
    
}

#o{
    color: rgb(0, 255, 149);
}

.text_hoza{
    color:aliceblue
}



.rlimg{
    display: flex;
    width: 810px;
   height: 500px;
    position: relative;
    left: -42px;
    object-fit: cover;
    display: inline;
   clip-path: polygon(0% 0, 0 100%, 82% 100%, 100% 0);
    
    
    
}



.dofimg{
    position: relative;
    left: 537px;
    clip-path: polygon(18% 0, 0 100%, 100% 100%,100% 0);
}


.rlimg:hover{
    filter:brightness(1.1);
    transition-duration: 0.2s;
}


.dofimg:hover{
    filter:brightness(1.1);
    transition-duration: 0.2s;
}


.hoza_dofus{
    text-align: center;
    color: aliceblue;
    font-family:'hz';
    font-size: 150px;
    position: relative;
    left: 683px;
    
}

.st_hoza{
    text-align: center;
    color: rgb(0, 255, 149);
    font-family:'test';
    font-size: 20px;
    position: relative;
    left: 756px;
    top: -119px;
}



.block_sacri{
    position: relative;
    top: -100px;
    left: -75px;
}

.vod_sacri{
    position: relative;
    left: 1002px;
    top: -250px;
}

.sacri{
    padding: 0px;
    margin: 0px;
    position: relative;
    height: 450px;
    top: 250px;
    left: 500px;
    

}

h2, pre{
    display: flex;
    align-items:flex-end;
    font-family:'test';
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 1000px;
    top: -290px;
    color: aliceblue;
}





#titrepanda{
    position: relative;
    left:490px;
    top: -520px;
}


.para_panda{
    position: relative;
    left: 490px;
    top: -520px;
}


.vod_panda{
    position: relative;
    left: 490px;
    top: -480px;
    margin: 0px;
    padding: 0px;
}





.panda{
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 40px;
    height: 450px;
    width: auto;
    left: 1500px;
    transform: rotateY(180deg);
    

}










.plan_text{
    font-family:'test';
    font-size: 20px;
    text-decoration: underline;
    color: #00ff95;
    position: relative;
    left: 50px;
    top: 20px;
}

.droits{
    font-family:'test';
    color: aliceblue;
    left: 50px;
    top: 40px;
}

.date{
    font-family:'test';
    color: aliceblue;
    position: relative;
    top: -37px;
    left: 1390px;
}


.discord{
    font-family:'test';
    font-size: 20px;
    text-decoration: underline;
    color: #00ff95;
    position: relative;
    left: 750px;
    top: -70px;
}

.instagram{
    font-family:'test';
    font-size: 20px;
    text-decoration: underline;
    color: #00ff95;
    position: relative;
    left: 350px;
    top: -70px;
}



.twitter{
    font-family:'test';
    font-size: 20px;
    text-decoration: underline;
    color: #00ff95;
    position: relative;
    left: 565px;
    top: -70px;
}


footer{
    background-color: rgb(29, 29, 29);
    border-top: 2px solid rgb(44, 44, 44);
    box-shadow: 15px 0px 10px 10px rgb(36, 36, 36);
    color: aliceblue;
    width: 100%;
    position: absolute;
    left: 403px;
    top: 2370px;
    

}
footer>a,p{
    position: relative;
    left: 150px;
}